$linear: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
li {
  list-style: none;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category:hover .category__svg,
    .category:focus .category__svg{
        stroke: url(#gradient);}