.section {
  @media screen and (min-width: 768px) {
    box-sizing: border-box;
    max-width: 704px;
    width: 100%;
    max-height: 616px;
    margin: 0 auto;
    padding: 32px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: #aab2c533 0px 10px 60px;
    border-radius: 0px 30px 30px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1098px;
    width: 100%;
    max-height: 579px;
    margin-bottom: 0;
  }
}
.sectionForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 30px;
    flex-direction: row;
    justify-self: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 60px;
    justify-content: space-between;
  }
}
.sectionInputs {
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    height: 44px;
    text-align: center;
    width: calc(100% - 355px);
  }
}
.inputDescription {
  display: block;
  font-family: inherit;
  height: 44px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.14;
  text-align: start;
  outline-color: #ff751d;
  color: #52555f;
  &::placeholder {
    font-weight: 400;
    color: #c7ccdc;
  }
  @media screen and (min-width: 768px) {
    border-top-left-radius: 16px;
    background-color: transparent;
    border: 2px solid #f6f7fc;
    display: flex;
    width: 184px;
  }
  @media screen and (min-width: 1280px) {
    width: 290px;
  }
}
.inputSelect {
  display: block;
  font-family: inherit;
  height: 44px;
  outline-color: #ff751d;
  color: #c7ccdc;
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    border: 2px solid #f6f7fc;
    border-left: none;
    border-right: none;
    border-bottom-right-radius: 0px;
    height: 48px;
    width: 186px;
  }
  @media screen and (min-width: 1280px) {
    width: 169px;
  }
}
/*&&&&&&&*/
.selectOption {
  height: 32px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  padding: 5px 19px;

  &:hover,
  &:focus,
  &:active {
    font-family: inherit;
    color: #52555f;
    background-color: #f5f6fb;
  }
}

.inputWrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 8px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #f6f7fc;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.14;
    color: #52555f;
    background-color: transparent;
    margin: 0;
    height: 44px;
    border-radius: 0px 16px 16px 0px;
    width: 110px;
    &:hover {
      border-color: #ff751d;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 121px;
  }
}
.inputCount {
  width: 55px;
  border: none;
  outline: none;
}
.calc {
  width: 20px;
  height: 20px;
  background-image: url('../../images/iconsForm/calc.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.buttonsWrapper {
  display: flex;
  margin-top: 80px;
  gap: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
    margin-top: 0;
    gap: 15px;
  }
}
/*TABLE*/

.tableContainer {
  width: 100%;
  display: flex;
  table-layout: fixed;
  border: none;
  overflow-x: hidden;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1279px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.table {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    max-width: 624px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 746px;
  }
}

.tableHead {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    background-color: #f5f6fb;
    border-radius: 20px 20px 0 0;
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}
.tableHeadTitle {
  display: none;
  @media screen and (min-width: 768px) {
    display: table-cell;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 44px;
  }
}
.tableBody {
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 100%;
    overflow-y: scroll;
    height: 342px;
    border: none;
    &::-webkit-scrollbar {
      width: 6px;
      height: 130px;
      background-color: #f5f6fb;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #ff751d;
      outline: none;
    }
  }
}
.tableRow {
  position: relative;
  height: 40px;
  font-family: inherit;
  font-size: 8px;
  line-height: 1.16;
  color: #52555f;
  border-bottom: 2px solid #f5f6fb;
  display: flex;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    width: calc(100% - 2px);
    display: table;
    width: calc(100% - 2px);
    height: 40px;
    text-align: center;
    border-left: 2px solid #f5f6fb;
  }
  @media screen and (min-width: 1280px) {
    height: 38px;
  }
}

.btnDelate {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
    :hover {
      background-color: #f5f6fb;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}
.iconDelate {
  // z-index: 2;
  width: 18px;
  height: 18px;
  background-image: url('../../images/iconsForm/delate.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.date {
  @media screen and (min-width: 768px) {
    width: 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 100px;
  }
}
.description {
  @media screen and (min-width: 768px) {
    width: 260px;
  }
  @media screen and (min-width: 1280px) {
    width: 300px;
  }
}
.category {
  @media screen and (min-width: 768px) {
    width: 130px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
  }
}
.amount {
  @media screen and (min-width: 768px) {
    width: 110px;
  }
  @media screen and (min-width: 1280px) {
    width: 110px;
  }
}
.amountExpenses {
  color: #e7192e;
}
.amountIncome {
  color: #407946;
}
.btnWrapper {
  @media screen and (min-width: 768px) {
    width: 42px;
  }
  @media screen and (min-width: 1280px) {
    width: 54px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding-bottom: 53px;
}

.transactionList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.transactionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descriptionWrapper {
  max-width: 167px;
  width: 100%;
}

.infoWrapper {
  display: flex;
  gap: 20px;
}

.mobileNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  gap: 4px;
  z-index: 99;
}

.mobileNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(50% - 4px);
  color: #000;
  background: #f5f6fb;
  text-decoration: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.bntOpenModal {
  display: flex;
  position: absolute;
  top: 70px;
  left: 20px;
  cursor: pointer;
}

.btnCloseModal {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 24px;
  height: 24px;
  background-image: url('../../images/icons/balance_backspace.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.btnArrowLeft {
  width: 18px;
  height: 18px;
  background-image: url('../../images/icons/balance_backspace.svg');
  margin-right: 4px;
}

.btnText {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.modal {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 9999;
  background-image: url('../../images/backgrounds/mobile/mobileHome@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767.9px) {
  .description {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #52555f;
  }

  .date {
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #52555f;
  }

  .category {
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.04em;
    color: #52555f;
  }

  .amount {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.04em;
    //color: #407946;
    width: 120px;
    margin-right: 20px;
  }

  .sectionInputs {
    display: flex;
    margin-top: 56px;
  }
  .inputDescription {
    width: 236px;
    background: #f5f6fb;
    border: 2px solid #ffffff;
    border-radius: 22px 22px 0px 0px;
  }
  .inputSelect {
    width: 280px;
    background: #f5f6fb;
    border-top: none;
    border: 2px solid #ffffff;
    border-top: none;
    border-radius: 0px 0px 22px 22px;
  }
  .inputWrapper {
    display: inline-flex;
    align-items: center;
    width: 181px;
    height: 44px;
    margin-top: 35px;
    border: 2px solid #ffffff;
    border-radius: 22px 22px 22px 22px;
  }
  .inputCount {
    width: 105px;
    outline: none;
    text-align: right;
    padding-right: 16px;
    height: 44px;
    border-right: 1px solid #ffffff;
    border-radius: 22px 0px 0px 22px;
    background-color: #f5f6fb;
  }
  .calc {
    width: 20px;
    height: 20px;
    margin: 0 20px;
    background-color: #f5f6fb;
  }
}
