.button {
    display: block;
    min-width: 122px;
    padding: 12px 15px;
    background: #F5F6FB;
    color: #52555F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    border-radius: 16px;
    filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
    border: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }

    &Active {

        background: #FF751D;
        color: #FFFFFF;
        filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    }
}

