.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 99;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 99;
}

.modal {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 200px;
    transform: scale(0.5);
    transition: 0.4s all;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.4);
}

.modal.active {
    transform: scale(1);
}
