.backdrop {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(189, 195, 199, 0.8);
  z-index: 1;
}

.modal {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 30px;
  background-color: var(--bgColor-primary);
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalText {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #52555F;
  margin-bottom: 20px;
}

.modalCloseButton{
  width: 15px;
  height: 15px;
  background-image: url('../../images/header-modal/close-button-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  right: 18px;
  top: 18px;
  &:hover {
    cursor: pointer;
  }
}

.modalButtonWrapper {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
