li {
  list-style: none;
}

.text {
  width: 80px;
  margin: 10px auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.title {
  margin: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.container {
  @media screen and (min-width: 320px) {
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 767px) {
    width: 624px;
    gap: 20px;
  }

  @media screen and (min-width: 1280px) {
    gap: 28px;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg:hover,
svg:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  fill: #ff751d;
}

.category__navigate {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
}

.btn {
  border: none;
  color: #ff751d;
  background-color: #fff;
  font-size: 22px;
}

.bntLeft {
  width: 4px;
  height: 10px;
  border: none;
  color: #ff751d;
  background: url('../../images/icons/balance_vector_l.svg');
  background-position: center;
  background-color: #fff;
  font-size: 22px;
}

.btnRight {
  width: 4px;
  height: 10px;
  border: none;
  background: url('../../images/icons/balance_vector_r.svg');
  background-position: center;
  background-color: #fff;
  font-size: 22px;
}

.box {
  background: #ffffff;

box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  @media screen and (min-width: 320px) {
    margin: 0 auto;
    padding: 0 20px;
  }

  @media screen and (min-width: 767px) and (max-width: 1279px) {
    width: 624px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    padding: 0 40px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}

.activeCategory {
  fill: #ff751d;
}
