@import-normalize; /* bring in normalize.css styles */

:root {
  --bgColor-primary: #FFFFFF;
  --bgColor-secondary: #F2F5FC;
  --bgColor-table: #F5F6FB;
  --color-active: #FF751D;
  --textColor-primary: #000000;
  --textColor-secondary: #52555F;
  --textColor-red: #E53935;
  --textColor-green: #407946;
  --textColor-placeholder: #C7CCDC;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.containerMain {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .containerMain {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }

  .containerMain {
    max-width: 1280px;
    padding: 0 90px;
  }
}



