.homeNav {
  background-color: url(../../images/backgrounds/mobile/mobileHome.png);
}
.homeNavLink {
  display: inline-flex;
  outline: 1px solid red;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 40px;
  color: #000000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  background-color: #fefefe;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.homeNavLink:active {
  color: #ff751d;
}
