.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
  // background-color: var(--bgColor-secondary);
  background-image: url('../../images/backgrounds/mobile/mobileAuth@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.authSectionLogo {
  width: 183px;
  height: 63px;
  background-image: url('../../images/authorization/authorization-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.authFormWrapper {
  box-sizing: border-box;
  width: 280px;
  border-radius: 30px;
  padding: 40px 20px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  background-color: var(--bgColor-primary);
}

.authNavButtonWrapper {
  display: flex;
  justify-content: center;
}

.loginNavButton {
  margin-right: 10px;
}

.authFormSubmitButton {
  min-width: 100px;
  height: 45px;
  border-radius: 25px;
  margin: 20px auto 0;
}

.loginWithGoogleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }

  .loginWithGoogleButton {
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;

    .googleLogo {
      width: 18px;
      height: 18px;
      background-image: url('../../images/authorization/google.png');
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 10px;
    }
  }
}

.authFormSubText {
  display: block;
  text-align: center;
  margin: 20px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #52555F;
}

.authForm {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 20px;
    margin-bottom: 15px;

    span {
      color: red;
    }
  }
}

.authInput {
  border-radius: 30px;
  padding: 17px 19px;
  border: none;
  outline: none;
  background-color: var(--bgColor-secondary);
  font-size: 14px;
}

.requiredText {
  color: red;
  font-size: 10px;
}

.submitButton {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .authContainer {
    padding-bottom: 150px;
    background-image: url('../../images/backgrounds/tablet/tabletAuth@2x.png');
  }
  .authFormWrapper {
    width: 430px;
    padding: 55px 83px;
  }

  .authSectionLogo {
    width: 310px;
    height: 100px;
  }

}


@media screen and (min-width: 1280px) {
  .authContainer {
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 77px);
    padding: 0;
    background-image: url('../../images/backgrounds/desktop/desktopAuth@2x.png');
  }
  .authSectionLogo {
    width: 380px;
    height: 140px;
    margin-right: 160px;
    margin-bottom: 0;
  }
  .authFormWrapper {
    width: 430px;
    padding: 50px 70px;
  }
}
